<html>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<head>
  <title>Registration Page</title>
</head>
<div class="form">
  <ul class="tab-group">
    <li class="tab active"><a href="/register">Sign Up</a></li>
    <li class="tab"><a href="/login">Log In</a></li>
  </ul>
  <h1>Login To SoulFood</h1>
  <form class= "form-signin" method="post">
    <div class="field-wrap">
      <label for="inputUsername" class="input-field">
        Username
      <span class="req">*</span>
      </label>
    <input type="text" name="username"></p>
    </div>
    <div class="field-wrap">
      <label for="inputPassword" class="input-field">
        Password
      <span class="req">*</span>
      </label>
      <input type="password" name="password"></p>
    </div>
    <p><input class="button button-block" type="submit"></p>
  </form>
</div>
</html>
